<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="com.nmtinstaller.csi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<com.nmtinstaller.csi.Properties.Settings>
   <setting name="Server" serializeAs="String">
    <value>pch-a110</value>
   </setting>
   <setting name="Username" serializeAs="String">
    <value>ftpuser</value>
   </setting>
   <setting name="Password" serializeAs="String">
    <value>1234</value>
   </setting>
   <setting name="FirstRun" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="InstallPrepareScriptURL" serializeAs="String">
    <value>http://54.75.246.28/~csi/csi-downloads/installprepare.cgi</value>
   </setting>
   <setting name="FileUploadRetries553" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="CommandsScriptURL" serializeAs="String">
    <value>http://54.75.246.28/~csi/csi-downloads/commands.zip</value>
   </setting>
   <setting name="AppInitLocation" serializeAs="String">
    <value>Apps/AppInit/appinit.cgi</value>
   </setting>
   <setting name="CSIUpdateVersionURL" serializeAs="String">
    <value>http://54.75.246.28/~csi/csi-downloads/version</value>
   </setting>
   <setting name="CSIUpdateArchiveURL" serializeAs="String">
    <value>http://54.75.246.28/~csi/csi-downloads/update.zip</value>
   </setting>
   <setting name="CSIUpdateChangelogURL" serializeAs="String">
    <value>http://54.75.246.28/~csi/csi-downloads/changelog</value>
   </setting>
   <setting name="AppInitScriptURL" serializeAs="String">
    <value>http://54.75.246.28/~csi/csi-downloads/appinit.cgi</value>
   </setting>
   <setting name="UILanguage" serializeAs="String">
    <value>Select</value>
   </setting>
   <setting name="ApplicationSuggestionDuration" serializeAs="String">
    <value>30000</value>
   </setting>
   <setting name="HardwareType" serializeAs="String">
    <value/>
   </setting>
   <setting name="HardwareName" serializeAs="String">
    <value/>
   </setting>
   <setting name="InstallPrepareScript2URL" serializeAs="String">
    <value>https://raw.githubusercontent.com/cptjhmiller/CSI/master/csi-downloads/installprepare.cgi</value>
   </setting>
   <setting name="FTPSubFolder" serializeAs="String">
    <value/>
   </setting>
   <setting name="WebserverSubFolder" serializeAs="String">
    <value/>
   </setting>
   <setting name="CSIUpdate2VersionURL" serializeAs="String">
    <value>https://raw.githubusercontent.com/cptjhmiller/CSI/master/csi-downloads/version</value>
   </setting>
   <setting name="AppInitScript2URL" serializeAs="String">
    <value>https://raw.githubusercontent.com/cptjhmiller/CSI/master/csi-downloads/appinit.cgi</value>
   </setting>
  </com.nmtinstaller.csi.Properties.Settings>
	</userSettings>
	<startup>
	<supportedRuntime version="v2.0.50727"/></startup>
</configuration>
